<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @clothing_type_id, partial: "card", as: :clothing_type_id %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "clothing_type_ids/clothing_type_id_clothing_pieces" %>
  </div>
</div>
